.card {
  flex: 1 0 25%;
  max-width: 280px;
  height: 720px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 35px;
  margin: 5px;
  padding: 26px 15px 30px;
  position: relative;
  overflow: hidden;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   height: 90px;
  //   width: 100%;
  //   // background: linear-gradient(180deg, rgba(195, 34, 34, 0) 0%, $black 55%);
  //   left: 50%;
  //   transform: translateX(-50%);
  //   bottom: 0;
  //   border-radius: 0 0 30px 30px;
  // }

  img {
    width: 80%;
    height: 254px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: rgb(255 255 255 / 24%) 0px 3px 8px;
    z-index: 0;
  }
  h2 {
    margin: 24px 0 0px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  h5 {
    color: $color-3;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  h4 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-top: -4px;

    span {
      font-size: 0.7rem;
    }
  }
  ul {
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    background: #212040;
    border-radius: 18px;
    padding: 0px 7px;
    margin: 0 4px 4px 0;
    font-size: 1.1rem;

    &:first-child {
      margin-left: -4px;
    }
  }
  h3 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  p {
    color: $color-3;
    font-size: 1.3rem;
    line-height: 20px;
    height: 120px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .btn {
    background: rgb(8, 50, 84);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 0;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    &:hover {
      background: #212040;
      box-shadow: 0 0 10px #ffffffd2;
      font-size: 1.025rem;
    }
  }
}

@media (max-width: 768px) 
{
  .card {
    flex: 1 0 25%;
    max-width: 380px;
    height: 800px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;

    img {
      width: 50%;
      height: 254px;
      object-fit: cover;
      object-position: top;
      display: block;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: rgb(255 255 255 / 24%) 0px 3px 8px;
      z-index: 0;
    }

    p {
      color: $color-3;
      font-size: 1.3rem;
      line-height: 20px;
      height: 100px;
      overflow-y: scroll;
      margin-bottom: 60px;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .btn {
      background: rgb(8, 50, 84);
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      padding: 14px 0;
      margin: 0 auto;
      width: 150px;
      text-align: center;
      border-radius: 15px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  
      &:hover {
        background: #212040;
        box-shadow: 0 0 10px #ffffffd2;
        font-size: 1.025rem;
      }
    }
  }
}
